div#us.english
	textarea
div#uk.english
	textarea
img.flag#usflag(src='http://static.twoenglishes.com/usflag.jpg')
img.flag#ukflag(src='http://static.twoenglishes.com/ukflag.jpg')

script(type='text/javascript')
	$(function () {
		var seq = 0, last = -1;
		$('textarea').keyup(function () {
			var target = $(this).parent().attr('id') == 'us' ? $('#uk textarea') : $('#us textarea');
			$.post('/api/translate', { seq: seq, text: $(this).val(), language: $(this).parent().attr('id') }, function (data) {
				if (data.seq > last) {
					last = data.seq;
					target.val(data.translation);
				}
			});
			seq += 1;
		});

		function positionImages() {
			$('#usflag').css({'top': $('#us').offset().top, 'left': $('#us').offset().left, 'width': $('#us').width()});
			$('#ukflag').css({'top': $('#uk').offset().top, 'left': $('#uk').offset().left, 'width': $('#uk').width()});			
		}
		positionImages();
		$(window).resize(positionImages);
	});