fonts = 24px Helvetica, Arial, sans-serif
body
	font fonts
	height 1000px
div#header
	text-align center
	height 97px
	margin 0
	padding 0
img.flag
	position absolute
	z-index -99
div.english
	width 45%
	background-color #ffffffd0
	height 100%
	padding 10px
div#uk
	float right
div#us
	float left
textarea
	border none
	width 90%
	height 90%
	overflow-y auto
	font fonts
	background none
	outline none